<h2>商品詳細一覧</h2>

  <%= image_tag @item.image, size: "200x200" %>

<h2>商品名</h2>
 <p><%= @item.name %></p>

<h2>説明</h2>
 <p><%= @item.text %></p>

<h2>値段</h2> 
 <p><%= @item.without_tax_price %></p>
 
 <%= link_to "削除", admin_item_path(@item.id), method: :delete, "data-confirm" =>"本当に削除しますか？" %>