<table>
 <thead>
     <th>単価(税込)</th>
     <th>小計</th>
 </thead>
 <tbody>
     <% @cart_items.each do |cart_item| %>
       <tr>
           <td><%= image_tag cart_item.item.image, size: "90x90"  %>
           <td><%= cart_item.item.name %></td>
           <td><%= cart_item.item.without_tax_price.floor %></td>
           <td><%= cart_item.subtotal %></td>
           <% @total += cart_item.subtotal %>
           <td><%= link_to "削除する", cartitem_path(cart_item.id), method: :delete %>
       </tr>
     <% end %>
     
     <%= link_to "情報入力へ進む",  new_order_path %>
 </tbody>
</table>
           