<div class="container">
 <h2>ショッピングカート</h2>
 <% @cart_items.each do |cart_item| %>
  <% if cart_item.errors.any? %>
   <%= cart_item.errors.count %>件のエラーが発生しました
   <ul>
     <% cart_item.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
   </ul>
  <% end %>
<% end %>
<div class="row">
  <div class="col-lg-9"></div>
   <div class="col-lg-3">
     <%= link_to "カートを空にする", destroy_all_cartitems_path, class: 'btn btn-danger', method: :delete, "data-confirm" =>"本当に空にしますか？" %>
    </div>
</div>
  <div class="row">
      <table>
       <thead>
           <th></th>
           <th>商品名</th>
           <th>単価(税込)</th>
           <th>数量</th>
           <th>小計</th>
       </thead>
        <tbody>
            <% @cart_items.each do |cart_item| %>
              <tr>
                  <td><%= link_to item_path(cart_item.id) do %>
                  <%= image_tag cart_item.item.image, size: "90x90"  %>
                  <% end %></td>
                  <td><%= cart_item.item.name %></td>
                  <td><%= cart_item.item.without_tax_price.floor %></td>
                  <td><%= form_with model: cart_item do |f| %>
                  <%= f.select :quantity,*[1..9] %><span> </span><%= f.submit "更新", class: 'btn btn-success', method: :patch %>　
                  <% end %></td>
                  <td><%= cart_item.subtotal %></td>
                  <% @total += cart_item.subtotal %>
                  <td><%= link_to "削除する", cartitem_path(cart_item.id), class: 'btn btn-danger', method: :delete %>
              </tr>
                 <th>合計金額</th><td><%= @total %></td>
            <% end %>
    <tr><td><%= link_to "買い物を続ける", root_path, class: 'btn btn-primary' %></td></tr>
    <tr><td><%= link_to "情報入力へ進む",  new_order_path, class: 'btn btn-success' %></td></tr>
        </tbody>
      </table>
</div>