<table>
  <tr>
    <td>購入日時</td>
    <td>購入者</td>
    <td>注文個数</td>
    <td>注文ステータス</td>
  </tr>
    <% @orders.each do |order| %>
      <tr>
          <td>
            <%= link_to  order_path(order.id) do %>
              <%= order.created_at %>
            <% end %>
          </td>
          <td><%= order.post_code %><%= order.shipping_address %><%= order.address_name %></td>
          <td><%= order.order_items.sum(:number) %></td>
      </tr>
    <% end %>
</table>