<%= form_with model: @order, url: orders_confirmation_path, method: :post do |f| %>
 <h2>支払方法</h2>
 <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
 <%= f.label :クレジットカード, Order.payment_methods_i18n[:credit_card] %>

 <p><%= f.radio_button :payment_method, Order.payment_methods.key(1) %> 
 <%= f.label :銀行振込, Order.payment_methods_i18n[:transfer]%>
 
 <h3>お届け先</h3>
 
 <p><%= current_customer.post_code %></p>
 <p><%= current_customer.address %></p>
 <%= current_customer.first_name %><%= current_customer.last_name %>
 
 <%= f.submit"確認画面へ進む" %>
 
 
<% end %>


