<h1>注文履歴詳細</h1>
<table>
    <div　class = col-sm-8>
        <tr><th>注文日</th><td><%= @order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td></tr>
        <tr><th>配送先</th><td><%= @order.address_display %></td></tr>
        <tr><th>支払方法</th><td><%= @order.payment_method %></td></tr>
    </div>
</table>
<table>
    <div class= col-sm->
    <th>請求情報</th>
         <tr><th>商品合計</th><td><%= @order.order_items.sum(&:subtotal) %></td></tr>
         <tr><th>配送料</th></tr>
         <tr><th>ご請求額</th><td><%= @order.total_money %></td></tr>
    </div>
</table>